{% extends "site_base.html" %}

{% comment %}
  The page_scripts block is where you add scripts to ajax loaded pages.
  This is necessary due to the nature of jquery mobiles ajax page loading.
  JQM only looks at data-role="page" elements in the ajax response data, 
  which means that scripts outside that element get thrown away.
{% endcomment %}
{% block page_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jqm.navtabs.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.map.js"></script>

<script type="text/javascript">
  function initializeMap() {
    $('.ui-page-active .map_stop_container').show().width('290px').height('250px').gmap({
      center: new google.maps.LatLng({{tour_stop.lat}}, {{tour_stop.lng}}),
      zoom: 5
    }).bind('init', function() {
        var self = this;
        $('.ui-page-active .map_stop_container').gmap('addMarker', {
          position: new google.maps.LatLng({{tour_stop.lat}}, {{tour_stop.lng}}),
          bounds: true
        });
    });
  }

  // bind to last page shown so that we get proper map
  $("div:jqmData(role='page'):last").on('pageshow', function() {
    $('div:jqmData(id="map")').bind('init-tab', function() {
      initializeMap();
    });
  });
</script>
{% endblock page_scripts %}

{% block header %}
  <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
    <a href="#" data-role="button" data-rel="back" data-transition="slide">Back</a>
  </div>
  <span class="ui-title" />
  <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
    {% if page.has_previous %}
    <a href="{% url tour:tour-stop-detail tour_stop.tour.slug page.previous_page_number %}" data-role="button" data-icon="arrow-l">Prev</a>
    {% endif %}

    {% if page.has_next %}
    <a href="{% url tour:tour-stop-detail tour_stop.tour.slug page.next_page_number %}" data-role="button" data-icon="arrow-r">Next</a>
    {% endif %}
  </div>
{% endblock header %}

{% block content %}
<div data-id="details" class="tab-content">
  <h4>{{ tour_stop.name}}</h4>
  <div>
    {{ tour_stop.description|safe }}
  </div>
</div>
<div data-id="media" class="tab-content">
  media
</div>
<div data-id="map" class="tab-content">
  <div class="map_stop_container" data-eul="{{tour_stop}}"></div>
</div>
{% endblock content %}

{% block footer %}
<div data-role="navbar" data-iconpos="bottom">
  <ul>
    <li><a href="#" class="ui-btn-active" data-icon="bar" data-href="details">Details</a></li>
    <li><a href="#" data-icon="grid" data-href="media">Media</a></li>
    <li><a href="#" data-icon="star" data-href="map">Map</a></li>
  </ul>
</div>
{% endblock footer %}