{% extends "site_base.html" %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}jq/jqm.navtabs.js"></script>
{% endblock extrajs %}

{% block header %}
  <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
    <a href="#" data-role="button" data-rel="back" data-transition="slide">Back</a>
  </div>
  <span class="ui-title" />
  <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
    {% if page.has_previous %}
    <a href="{% url tour:tour-stop-detail tour_stop.tour.slug page.previous_page_number %}" data-role="button" data-icon="arrow-l">Prev</a>
    {% endif %}

    {% if page.has_next %}
    <a href="{% url tour:tour-stop-detail tour_stop.tour.slug page.next_page_number %}" data-role="button" data-icon="arrow-r">Next</a>
    {% endif %}
  </div>
{% endblock header %}

{% block content %}
<div id="details" class="tab-content">
  <h4>{{ tour_stop.name}}</h4>
  <div>
    {{ tour_stop.description }}
  </div>
</div>
<div id="media" class="tab-content">
  media
</div>
<div id="map" class="tab-content">
  maps
</div>
{% endblock content %}

{% block footer %}
<div data-role="navbar" data-iconpos="bottom">
  <ul>
    <li><a href="#" class="ui-btn-active" data-icon="bars" data-href="details">Details</a></li>
    <li><a href="#" data-icon="grid" data-href="media">Media</a></li>
    <li><a href="#" data-icon="stars" data-href="map">Map</a></li>
  </ul>
</div>
{% endblock footer %}