{% extends "site_base.html" %}
{% load truncate_html %}
{% block header %}
<h1>{{ tour.name }}</h1>
<a href="#" class="ui-btn-right" data-mini="true" data-rel="back" data-transition="slide">Back</a>
{% endblock header %}

{% block content %}
  {{ tour.description|safe }}
  <div data-role="collapsible-set" data-corners="false" data-theme="b" data-content-theme="d">
    {% for tour_stop in tour_stops %}
    <div data-role="collapsible">
      <h3>{{ forloop.counter }}. {{ tour_stop.name }}</h3>
      <div>
        {{ tour_stop.description|truncate_html:140|safe }}
        <div><a href="{{ tour_stop.get_absolute_url }}" data-transition="flip">Read More</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}