{% extends "site_base.html" %}
{% load truncate_html %}

{% block header %}
<div data-role="header">
<div class="ui-btn-left" data-role="controlgroup" data-type="horizontal"  data-position="fixed">
</div>
<span class="ui-title">{{ tour_info.name }}</span>
{% endblock header %}

{% block content %}
<div data-id="details" class="tab-content">
    {{ tour_info.description|safe }}
</div>
{% endblock content %}
{% block footer %}
<div class="{% block footer_class %}{% endblock %}" data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="bottom">
  <ul>
    <li><a href="#" class="ui-btn-active" data-icon="back" data-rel="back" >Back</a></li>
  </ul>
</div>
{% endblock footer %}
