{% extends "site_base.html" %}
{% load thumbnail %}
{% load truncate_html %}

{% block meta %}
<meta content="{{ tour_stop.metadescription }}" itemprop="description" name="description" property="og:description"/>
<meta content="{{ tour_stop.name}}" itemprop="headline" property="og:title" />
<meta content="article" property="og:type"/>
<meta content="{{ tour_stop.name}}: Battle of Atlanta Tour" property="og:site_name"/>
<meta content="{{ request.build_absolute_uri }}" itemprop="url" property="og:url"/>
{% if images %}
<meta content="http://{{ request.get_host }}{{ images.0.image|thumbnail:"0x190" }}" itemprop="thumbnailUrl" property="og:image"/>
{% else %}
<meta content="http://dev.emorydisc.org/battleofatlanta/static/images/BOfAtlantaTroupHurtHouse.jpg" itemprop="thumbnailUrl" property="og:image"/>
{% endif %}
<meta content="161439920720584" property="fb:page_id"/>
<meta content="512379578843557" property="fb:app_id"/>
{% endblock meta %}

{% comment %}
  The page_scripts block is where you add scripts to ajax loaded pages.
  This is necessary due to the nature of jquery mobiles ajax page loading.
  JQM only looks at data-role="page" elements in the ajax response data, 
  which means that scripts outside that element get thrown away.
{% endcomment %}

{% block page_scripts %}
  <script type="text/javascript">
    // Don't allow JQM override the page title
    $(":jqmData(role='page')").attr("data-title", document.title);
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jqm.navtabs.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.map.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/local.js"></script>
  <!--<script type="text/javascript" src="http://dev.emorydisc.org/static/swipe/Swipe/swipe.js"></script>-->
  <script type="text/javascript">

      /*
      click on marker loads data per stop and changes color of marker.
      get directions.
      */

      function addMarker(map, lat, lng, label, num_icon) {
        map.addMarker({
          position: new google.maps.LatLng(lat, lng),
          bounds: true,
          icon: num_icon,
        }).click(function() {
          console.log(get_native_map_link(lat, lng));
          window.location = get_native_map_link(lat, lng, label);
        });
      }

      function initializeMap() {
        /**
          Initialize markers separately to slightly improve readability
        */
        $('.ui-page-active #map_container').width('100%').height('350px').gmap({
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          zoom: 10,
        callback: function(map) {
            var self = this;
            addMarker(this, {{tour_stop.lat}}, {{tour_stop.lng}}, "{{tour_stop.name}}", "{{ STATIC_URL }}markers/marker{{tour_stop.position}}.png")
            {% if tour_stop.park_lat and tour_stop.park_lng %}
            addMarker(this, {{tour_stop.park_lat}}, {{tour_stop.park_lng}}, "Parking: {{tour_stop.name}}", "{{ STATIC_URL }}markers/blue-parking.png")
            {% endif %} 
          }
        });
      }

      $("div:jqmData(role='page'):last").on('pageshow', function() {
        $('div:jqmData(id="map")').bind('init-tab', function() {
          initializeMap();
        });
      });
    </script>

<div id="fb-root"></div>
<script>
(function initializeFB(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=512379578843557";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
//    $("div:jqmData(role='page'):last").on('pageshow', function() {
//    initializeFB();
//      });
</script>

{% endblock page_scripts %}

{% block header %}
  <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal"><!-- data-position="fixed" data-tap-toggle="false">-->
    <!--<a href="#" data-role="button" data-rel="back" data-transition="slide">Back</a>-->
    <a href="/battleofatlanta/tour/battle-of-atlanta" data-role="button" data-icon="home">Home</a>
  </div>
  <span class="ui-title" />
  <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
    {% if page.has_previous %}
    <a href="{% url tour:stop-detail tour_stop.tour.slug page.previous_page_number %}" data-role="button" data-icon="arrow-l">Prev Stop</a>
    {% endif %}


    {% if page.has_next %}
    <a href="{% url tour:stop-detail tour_stop.tour.slug page.next_page_number %}" data-role="button" data-icon="arrow-r">Next Stop</a>
    {% endif %}
  </div>
{% endblock header %}

{% block content %}
<div data-id="details" class="tab-content">
    <div class="fb-like" data-href="http://dev.emorydisc.org/battleofatlanta/tour/battle-of-atlanta/{{ page.number }}" data-layout="button_count" data-width="450" data-show-faces="false" data-send="false"></div>
    <article>
	<h4>{{ tour_stop.name}}</h4>
    <div data-role="content" id="contentSlider">
        {% if tour_stop.mp4 and tour_stop.ogg %}
        {% if tour_stop.poster %}
        <video width="290" height="190" poster="/battleofatlanta/media/{{ tour_stop.poster }}" controls>
        {% else %}
        <video width="290" height="190" poster="http://dev.emorydisc.org/battleofatlanta/static/images/BOfAtlantaTroupHurtHouse.jpg" controls>
        {% endif %}
            <source src="/battleofatlanta/media/{{ tour_stop.mp4 }}" type="video/mp4" />
            <source src="/battleofatlanta/media/{{ tour_stop.ogg }}" type="video/ogg" />
        </video>
            {% else %}
                <img src="http://dev.emorydisc.org/battleofatlanta/static/images/BOfAtlantaTroupHurtHouse.jpg">
            {% endif %}
    </div>


	<div>
		{{ tour_stop.description|safe }}
	</div>
    {% if tour_stop.article_link %}
        <div>
            <a href="{{ tour_stop.article_link }}" target="_blank">Read Full Article</a>
        </div>
    {% endif %}
	</article>
</div>

<div data-id="media" class="tab-content">
  {% include "tour/includes/media_grid.html" %}
</div>

<div data-id="map" class="tab-content">
<!--  <div class="map_stop_container" data-eul="{{tour_stop}}"></div>-->
<div id="map_container"></div>
</div>
{% endblock content %}

{% block footer %}
<div data-role="navbar" data-iconpos="bottom" data-position="fixed" data-tap-toggle="false">
  <ul>
    <li><a href="#" class="ui-btn-active" data-icon="bar" data-href="details">Details</a></li>
    <li><a href="#" data-icon="grid" data-href="media">Media</a></li>
    <li><a href="#" data-icon="star" data-href="map">Map</a></li>
  </ul>
</div>
{% endblock footer %}
