{% extends "site_base.html" %}
{% load thumbnail %}
{% block header %}
<div data-role="header" class="popup">
  <h2 class="ui-title"></h2>
  <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
     <a href="#" data-rel="back" data-transition="slide" data-direction="reverse" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" >Return to Tour</a>
  </div>
</div>
{% endblock header %}

{% block content %}
<div id="image-detail">
  <h2 class="title">{{ tour_stop_media.title }}</h2>
  <div class="caption">
    {{ tour_stop_media.caption }}
  </div>

  <img src="{{tour_stop_media.image|thumbnail:"580x0"}}" alt="{{ tour_stop_media.title }}"/>
  <div class="clearfix"></div>
  <div>
    <a href="{{ MEDIA_URL }}{{ tour_stop_media.image }}" target="_blank">See larger image {{tour_stop_media.size}}</a>
  </div>
  <div class="metadata">
    {{ tour_stop_media.metadata|safe }}
    {% if tour_stop_media.source_link %}
    <a href="{{ tour_stop_media.source_link }}" target="_blank">Source Link</a>
    {% endif %}
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
