{% extends "site_base.html" %}
{% load thumbnail %}
{% load truncate_html %}

{% block meta %}
<meta name="description" itemprop="description" property="og:description" content="{{ tour_stop.metadescription }}" />
<meta content="{{ tour_stop.name}}" itemprop="headline" property="og:title" />
<meta content="article" property="og:type"/>
<meta content="{{ tour_stop.name}}: {{ tour.name }}" property="og:site_name"/>
<meta content="{{ request.build_absolute_uri }}#history" itemprop="url" property="og:url"/>
<meta content="{{ tour.fb_page_id }}" property="fb:page_id"/>
<meta content="{{ tour.fb_app_id }}" property="fb:app_id"/>
<meta name="twitter:url" content="{{ request.build_absolute_uri }}#history" />
{% if tour_stop.video_embed %}
<meta name="twitter:card" content="player">
{% if tour_stop.poster %}
<meta name="twitter:image" content="http://{{ request.get_host }}{{ tour_stop.poster|thumbnail:"480x360" }}" />
{% elif images %}
<meta name="twitter:image" content="http://{{ request.get_host }}{{ images.0.image|thumbnail:"480x360" }}" />
{% else %}
<meta name="twitter:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ tour.splashimage|thumbnail:"480x360" }}" />
{% endif %}
<meta name="twitter:player" content="{{ tour_stop.video_embed }}">
<meta name="twitter:player:width" content="480">
<meta name="twitter:player:height" content="360">
{% else %}
<meta name="twitter:card" content="summary_large_image">
{% if images %}
<meta content="http://{{ request.get_host }}{{ images.0.image|thumbnail:"0x300" }}" itemprop="thumbnailUrl" property="og:image"/>
{% else %}
<meta content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ tour.splashimage }}" itemprop="thumbnailUrl" property="og:image"/>
{% endif %}
{% endif %}
<meta name="twitter:site" content="@{{ tour.twitter_acct }}">
<meta name="twitter:creator" content="@{{ tour.twitter_acct }}">
<meta name="twitter:description" content="{{ tour_stop.metadescription }}">
{% endblock meta %}

{% comment %}
  The page_scripts block is where you add scripts to ajax loaded pages.
  This is necessary due to the nature of jquery mobiles ajax page loading.
  JQM only looks at data-role="page" elements in the ajax response data, 
  which means that scripts outside that element get thrown away.
{% endcomment %}

{% block page_scripts %}
<script type="text/javascript">
    // Don't allow JQM override the page title
    $(":jqmData(role='page')").attr("data-title", document.title);
</script>

<script type="text/javascript">
    /*
    * click on marker loads data per stop and changes color of marker.
    * get directions.
    */

     function addMarker(map, lat, lng, label, num_icon) {
        console.log('something happened here!');
        map.addMarker({
            position: new google.maps.LatLng(lat, lng),
            bounds: true,
            icon: num_icon,
            //zoom: 5,
        }).click(function() {
            // alert(get_native_map_link(lat, lng));
            window.location = get_native_map_link(lat, lng, label);
        });
     }

    function initializeMap() {
        var selectedMode = document.getElementById('mode').value || "DRIVING";
        /**
        * Initialize markers separately to slightly improve readability
        */

        $('.ui-page-active #map_container').width('100%').height('350px').gmap({
            //mapTypeId: google.maps.MapTypeId.TERRAIN,
            zoom: 16,
            center: new google.maps.LatLng({{tour_stop.lat}}, {{tour_stop.lng}}),
            callback: function(map) {
                var self = this;

                // Request the user's current location.
                self.getCurrentPosition(function(position, status) {
                    // Check to see if user allowed location to be known.
                    if ( status === 'OK' ) {
                        // Show the div for user to select directions mode.
                        $( "#select" ).show();
                        // State we are showing directions.
                        $("#directions_head").html('Directions');

                        var clientPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    }

                    // If the user didn't share his/her location:
                    else {
                        self.addMarker({position: new google.maps.LatLng({{tour_stop.lat}}, {{tour_stop.lng}})});
                        self.addMarker({position: new google.maps.LatLng({{tour_stop.park_lat}}, {{tour_stop.park_lng}}), icon: "{{ STATIC_URL }}markers/blue_MarkerP.png"});
            
                        // Use Google's geocoder to get the address base on the lat and lng.
                        var geocoder = new google.maps.Geocoder();
                        // Use the parking location if there is one
                        {% if tour_stop.park_lat and tour_stop.park_lng %}
                        var location = new google.maps.LatLng({{ tour_stop.park_lat }},{{ tour_stop.park_lng }});
                        {% else %}
                        var location = new google.maps.LatLng({{ tour_stop.lat }},{{ tour_stop.lng }});
                        {% endif %}

                        if (geocoder) {
                            geocoder.geocode({ 'latLng': location }, function (results, status) {
                                // Return the address if Google gives us one.
                                if (status == google.maps.GeocoderStatus.OK) {
                                    console.log(results[0].formatted_address);
                                    $("#directions_head").html('Address');
                                    $("#directions").html(results[0].formatted_address);
                                }
                                // Otherwise, apologize to the user
                                else {
                                    $("#directions").html('Unable to determine address.');
                                }
                            });
                        }
                    }

                    // Direct the user to the parking area if the user is driving.
                    if ( selectedMode === 'DRIVING') {
                        // But first, make sure there is a parking location given.
                        {% if tour_stop.park_lat and tour_stop.park_lng %}
                        var destination = '{{tour_stop.park_lat}}, {{tour_stop.park_lng}}';
                        {% else %}
                        var destination = '{{tour_stop.lat}}, {{tour_stop.lng}}';
                        {% endif %}
                    }
                    // Otherwise, send the user to the actual site.
                    else {
                        var destination = '{{tour_stop.lat}}, {{tour_stop.lng}}';
                    }

                    // Show the turn-by-turn directions.
                    self.displayDirections({
                        'origin': clientPosition,
                        'destination': destination,
                        'travelMode': google.maps.DirectionsTravelMode[selectedMode] }, {
                            'panel': document.getElementById('directions') }, function(result, status) {
                            // If the user's location is known, give him/her the directions...
                            if ( status === 'OK' ) {
                                // alert('Results found!');
                            }
                            // Otherwise just provide the user with the stop's markers and geocoded address.
                            else {
                                addMarker(self, {{tour_stop.lat}}, {{tour_stop.lng}}, "{{tour_stop.name}}", "{{ STATIC_URL }}markers/marker{{tour_stop.position}}.png")
                                {% if tour_stop.park_lat and tour_stop.park_lng %}
                                addMarker(this, {{tour_stop.park_lat}}, {{tour_stop.park_lng}}, "Parking: {{tour_stop.name}}", "{{ STATIC_URL }}markers/blue-parking.png")
                                {% endif %}
                            }
                        });
                });
            }
        });
    }
</script>

<script>
    // This is a listener to change the directions mode select menu.
    $(function() {
        $('#mode').change(function() {
            // Destroy the map
            $('#map_container').gmap('destroy');
            // Clear the turn-by-turn directions.
            $('#directions').empty();

            // Get the selected value
            var selectedMode = document.getElementById('mode').value;

            // Get Django's CSRF token using a jQuery cookie plugin.
            // This is provided from a hidden input filed and django's csrf_token
            // template tag.
            var csrftoken = $.cookie('csrftoken');

            // Make the ajax post to the tour.update_directionsmode view
            $.ajax({
                //url: {% url 'tour:mode' tour_stop.tour.slug  %} + selectedMode + '/',
                url: 'http://{{ request.get_host }}/tour/update_directionsmode/' + selectedMode + '/',
                type: 'post',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                success: function (data) {}
            });
            // And redraw the map.
            initializeMap();
        });
    });
</script>

<script>
    $(document).on('click','#tabs a',function () {
        initializeMap();
    })

    $(document).on('ready',function(){
        var hash = window.location.hash;
        var $tabs = $("#tabs li a");
        //find the index of the tab that matches hash
        if (hash) {
            var $tabContent = $(".tab-content");
            for (var i = 0; i < $tabs.length; i++) {
                if (String($tabs[i]).search(hash) != '-1') {
                    $tabContent.hide();
                    $($tabContent[i]).show();
                    $tabs.removeClass("ui-btn-active");
                    $($tabs[i]).addClass("ui-btn-active");
                }
            }
        }
    }); 
</script>

{% if tour.fb_app_id %}
    <script>
    // Code from Facebook
    (function initializeFB(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ tour.fb_app_id }}";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}

{% endblock page_scripts %}

{% block header %}
    <div class="tour-stop-detail rounded-corners">
      <div class="" data-role="controlgroup" data-type="horizontal">

        <a href="/tour/{{ tour.slug }}" data-role="button" class="back-btn" data-transition="slide" data-direction="reverse" ><span>Back</span></a>
        <h1 class="tour-title">{{ tour.name }}</h1>
      </div>

      <h2 class="ui-title">
        {{tour_stop.name}}
      </h2>
      <div data-role="navbar" id="tabs" class="btn-right btn-map">
          <ul>
            
            <li><a href="#history" class="ui-btn-active ui-state-persist" data-href="details">History</a></li>
            <li>
                <a href="#directions" data-href="map">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=14&amp;size=100x100&amp;maptype=roadmap{% if tour_stop.parking_block %}&amp;path=color:blue%7Cweight:5%7Cfillcolor:blue%7C{{ tour_stop.parking_block }}{% endif %}&amp;markers=color:red%7C{{ tour_stop.lat }},{{ tour_stop.lng }}&amp;sensor=false&amp;key=AIzaSyBx6Zz6NMBoTBzIU0sbZQezxXgFMZdKZeI" alt="Map to {{ tour_stop.name }}"/>
                </a>
            </li>
          </ul>
        </div>
    </div>
{% endblock header %}

{% block content %}

<div data-role="tabs" id="tabs">

<!--DETAILS -->
    <div data-id="details" class="tab-content" data-role="tab">
        <article>
            <div class="m-carousel m-fluid m-carousel-photos">
                <div class="m-carousel-inner" style="width:
                {% if tour_stop.video_embed %}
                    {{ images |length |add:'1'}}00%
                {% else %}
                    {{ images |length }}00%
                {% endif %}
                ">
                <!-- the items -->
                    {% if tour_stop.video_embed %}
                        <div class="m-item">
                            <iframe id="youtube" width="290" height="190" src="{{ tour_stop.video_embed }}?controls=2&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;theme=light" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {% if images %}
                        {% for ts_image in images %}
                            <div class="m-item">
                                <a data-rel="dialog" data-transition="slidedown" href="{% url 'tour:stop-media-detail' tour_stop.tour.slug ts_image.id %}"><img src="{{ts_image.image|thumbnail:"300x0"}}" alt="{{ ts_image.title }}"/></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                <!-- the controls -->
                <div class="m-carousel-controls m-carousel-bulleted">
                    {% if images %}
                        <a href="#" data-slide="prev" class="slide-static ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all">No text</a>
                        {% if tour_stop.video_embed %}
                            <a href="#" data-slide="1" class="">1</a>
                            {% for ts_image in images %}
                                <a href="#" data-slide="{{forloop.counter|add:'1'}}" class="">{{forloop.counter|add:'1'}}</a>
                            {% endfor %}

                        {% else %}
                            {% for ts_image in images %}
                                <a href="#" data-slide="{{forloop.counter}}" class="">{{forloop.counter}}</a>
                            {% endfor %}
                        {% endif %}
                       
                        <a href="#" data-slide="next" class="slide-static ui-btn ui-icon-carat-r ui-btn-icon-notext ui-corner-all">No text</a>
                    {% endif %}
                </div>
            </div>
            <script>$('.m-carousel').carousel()</script>
            <div data-role="content">
                {{ tour_stop.description|safe }}

                {% include "tour/includes/liblogo.html" %}

                <div data-role="controlgroup" data-type="horizontal">
                    {% include "tour/includes/social_media.html" %}
                </div>
            </div>
        </article>
    </div>

<!-- MAP -->    
<script>
 initializeMap();
</script>
    <div data-id="map" class="tab-content hidden" data-role="tab" style="display:none;">
        <div>
            {{ tour_stop.directions_intro }}
        </div>
        <div id="select">
            <select id="mode">
                {% for mode in modes %}
                    <option value="{{ mode.mode }}" {% if mode.mode == directions %} selected="selected" {% endif %}>{{ mode.mode }}</option>
                {% endfor %}
            </select>
            <input type="hidden" value="{{ csrf_token }}" />
        </div>

        <div class="map_stop_container" data-eul="{{tour_stop}}"></div>

        <div id="map_container"></div>

        <div id="static_map"></div>

        <div class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top ui-btn-up-undefined" id="directions_head"></div>

        <div id="directions"></div>

        <div class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-bottom ui-btn-up-undefined"></div>
        
        <div id="direction_notes">
            {{ tour_stop.direction_notes|safe }}
        </div>

        {% include "tour/includes/liblogo.html" %}
    </div>

<!-- MEDIA -->
    <div data-id="media" class="tab-content" data-role="tab" style="display:none;">
     <!-- {% include "tour/includes/media_grid.html" %}-->
      {% include "tour/includes/liblogo.html" %}
    </div>
</div>
{% endblock content %}

{% block footer %}
    <div class="rounded-corners">
<!--        <div data-role="navbar" data-iconpos="bottom" data-position="fixed" data-tap-toggle="false" id="tabs">
          <ul>
            
            <li><a href="#history" class="ui-btn-active ui-state-persist" data-href="details">History</a></li>
            <li><a href="#directions" data-href="map">Directions</a></li>
            <li><a href="#gallery" data-href="media">Gallery</a></li>
          </ul>
        </div>
    -->

      {% if page.has_previous %}
        <a href="{% url 'tour:stop-detail' tour_stop.tour.slug page.previous_page_number %}" data-role="button" data-icon="arrow-l">Prev Stop</a>
        {% endif %}


        {% if page.has_next %}
        <a href="{% url 'tour:stop-detail' tour_stop.tour.slug page.next_page_number %}" data-role="button" data-icon="arrow-r">Next Stop</a>
        {% endif %}
    </div>
{% endblock footer %}
