{% extends "site_base.html" %}
{% load truncate_html %}
{% load thumbnail %}

{% block page_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jqm.navtabs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/maps/jquery.ui.map.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/maps/jquery.ui.map.extensions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/local.js"></script>

{% endblock page_scripts %}

{% block header %}
  <a href="/" class="ui-btn back-btn" data-mini="true" data-transition="slide" data-direction="reverse"><span>Back</span></a>
  <h1 class="tour-name">{{ tour.name }}</h1>
  <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
     <a href="#auxMenu" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-icon-bars ui-nodisc-icon menu-btn" data-transition="pop"> Menu</a>
  </div>
{% endblock header %}

{% block content %}
  <div data-role="popup" id="auxMenu">
    <ul data-role="listview" data-inset="true" style="min-width:210px;">
      {% for info in tour_info %}
      <li>
          <a href="{{ info.get_absolute_url }}" data-ajax="false" class="info-button ui-btn ui-btn-icon-right ui-icon-carat-r ui-nodisc-icon ui-alt-icon">{{ info.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div data-id="details" class="tab-content jqm-content">
    <h2>Tour Stops</h2>

    <ul data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" data-shadow="false" data-corners="false">
      {% for tour_stop in tour_stops %}
        <li {% if forloop.last %} id='scroll'{% endif %}>
          <a href="{{ tour_stop.get_absolute_url }}"  data-transition="slide">
            <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&amp;size=240x200&amp;maptype=roadmap{% if tour_stop.parking_block %}&amp;path=color:blue%7Cweight:5%7Cfillcolor:blue%7C{{ tour_stop.parking_block }}{% endif %}&amp;markers=color:red%7C{{ tour_stop.lat }},{{ tour_stop.lng }}&amp;sensor=false&amp;key=AIzaSyBx6Zz6NMBoTBzIU0sbZQezxXgFMZdKZeI" alt="Map to {{ tour_stop.name }}"/>
            <h3>{{ forloop.counter }}. {{ tour_stop.name }}</h3>
          </a>
        </li>
      {% endfor %}
    </ul>
</div>

{% endblock content %}

{% block footer %}
<div data-role="navbar">
    <ul>
      <li><a href="#" class="ui-btn-active">Tour Stops</a></li>
      <li><a href="{% url 'tour:tour-map' tour.slug %}" data-ajax="false">Map</a></li>
    </ul>
</div><!-- /navbar -->

{% endblock footer %}
