{% extends "site_base.html" %}
{% load truncate_html %}
{% load thumbnail %}

{% block page_scripts %}
  {% include "tour/includes/overview-map-scripts.html" %}
{% endblock page_scripts %}

{% block header %}
  <a href="{% url 'tour:detail' tour.slug %}" class="ui-btn back-btn" data-mini="true" data-transition="slide" data-direction="reverse"><span>Back</span></a>
  
  <h1 class="tour-name">{{ tour.name }}</h1>
  <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
     <a href="#auxMenu" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-icon-bars ui-nodisc-icon menu-btn" data-transition="pop"> Menu</a>
  </div>
{% endblock header %}

{% block content %}
  <div data-role="popup" id="auxMenu">
    <ul data-role="listview" data-inset="true" style="min-width:210px;">
      {% for info in tour_info %}
      <li>
          <a href="{{ info.get_absolute_url }}" data-ajax="false" class="info-button ui-btn ui-btn-icon-right ui-icon-carat-r ui-nodisc-icon ui-alt-icon">{{ info.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% include "tour/includes/overview-map.html" %}
{% endblock content %}

{% block footer %}
<div data-role="navbar">
    <ul>
    <li><a href="{% url 'tour:detail' tour.slug %}">Tour Stops</a></li>
    <li><a href="#" class="ui-btn-active" data-href="map">Map Overview</a></li>
    </ul>
</div><!-- /navbar -->

{% endblock footer %}
