{% extends "site_base.html" %}
{% load truncate_html %}
{% load thumbnail %}

{% block page_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jqm.navtabs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/maps/jquery.ui.map.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/maps/jquery.ui.map.extensions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/local.js"></script>
<script type="text/javascript">

  /*
  click on marker loads data per stop and changes color of marker.
  get directions.
  */ 
  function addMarker(map, lat, lng, label, num_icon, infowindow) {
    map.addMarker({
      position: new google.maps.LatLng(lat, lng),
      bounds: true,
      icon: num_icon,
    }).click(function() {
      $('#map_container').gmap('openInfoWindow', {'content': infowindow}, this);
      //window.location = get_native_map_link(lat, lng, label);
    });
}
  function initializeMap() {
    /**
      Initialize markers separately to slightly improve readability
    */
    $("#map_container").width('100%').height('450px').gmap({
      //mapTypeId: google.maps.MapTypeId.TERRAIN,
      //zoom: 10,
    callback: function(map) {
      var self = this;

      {% for ts in tour_stops %}
        {% if not forloop.first %}
        var infowindow = "<a href=\"{{ ts.get_absolute_url }}\">{{ts.name}}</a><p>{{ ts.metadescription }}</p>";
        addMarker(this, {{ts.lat}}, {{ts.lng}}, "{{ts.name}}", "{{ STATIC_URL }}markers/marker{{ ts.position }}.png", infowindow)
        {% endif %}
      {% endfor %}

      self.getCurrentPosition(function(position, status) {
          if ( status === 'OK' ) {
            var clientPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            self.addMarker({'position': clientPosition, 'bounds': true, icon: '{{ STATIC_URL }}markers/mylocation.png'});
          }
        }); 
      }
    });
  }

  $("div:jqmData(role='page')").on('pageshow', function() {
    //$('div:jqmData(id="map")').bind('init-tab', function() {
    $(document).ready(function () { 
      initializeMap();
    });
  });

    $(document).on( "expand", "#scroll", function( event, ui ){
        console.log('Open');
        //$("html,body").scrollTop($(document).height());
        
        $("html, body").animate({ scrollTop: $(document).height() });
    });

</script>

{% endblock page_scripts %}

{% block header %}
  <a href="{% url 'tour:detail' tour.slug %}" class="ui-btn back-btn" data-mini="true" data-transition="slide" data-direction="reverse"><span>Back</span></a>
  
  <h1 class="tour-name">{{ tour.name }}</h1>
  <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
     <a href="#auxMenu" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-icon-bars ui-nodisc-icon menu-btn" data-transition="pop"> Menu</a>
  </div>
{% endblock header %}

{% block content %}
  <div data-role="popup" id="auxMenu">
    <ul data-role="listview" data-inset="true" style="min-width:210px;">
      {% for info in tour_info %}
      <li>
          <a href="{{ info.get_absolute_url }}" data-ajax="false" class="info-button ui-btn ui-btn-icon-right ui-icon-carat-r ui-nodisc-icon ui-alt-icon">{{ info.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div id="tour-map">
    <div id="map_container"></div>
  </div>
{% endblock content %}

{% block footer %}
<div data-role="navbar">
    <ul>
    <li><a href="{% url 'tour:detail' tour.slug %}">Tour Stops</a></li>
    <li><a href="#" class="ui-btn-active" data-href="map">Map</a></li>
    </ul>
</div><!-- /navbar -->

{% endblock footer %}
