body{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    background-color: #FFF;
}

.ui-mobile, .ui-mobile body{
    background-color: #111;
    background-image: url(../images/dark_geometric.png)
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

img{
    max-width: 100%;
}


p {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
}

p.caption:first-child {
    display:none;
}

h1.tour-name.ui-title {
    margin-top: -30px;
}

.h4{
    font-size: 1.1em;
}

.text-center{
    text-align: center;
}

.ui-page, .ui-content{
    
}

.ui-page{
    position: relative;
    background-image: url(../images/arches.png);
    background-size: auto;
    background-repeat: repeat repeat;
}

.ui-content{
    margin-bottom: -1px;
    background-color:#F8F8F8;
    background-color: rgba(253, 249, 242, 0.8);
}

.ui-content .ui-content{
    background-color:transparent;
}

.ui-header .rounded-corners {
    border-radius: 15px 15px 0 0 !important;
    margin-top: 4px;
    margin-bottom:-1px;
    box-shadow: 0px -21px 1px #333;
}

.ui-footer .rounded-corners {
    border-radius: 15px 15px 0 0;
    border-radius: 15px;
    box-shadow: 0px 23px 0px #111;
    margin-bottom: 5px;
    margin-top: 1px;
    height: 3.5em;
    background-color: transparent;
}

.jqm-header.ui-header {
    background-color: rgba(4, 29, 94, 0.7);
    color: #FFF;
    text-shadow: 0 1px 0 #818181;
}

.jqm-header.ui-header .ui-btn{
    color:inherit;
}

.jqm-header .ui-btn-right.ui-controlgroup .ui-btn.menu-btn {
    background: none;
    background-color: transparent;
    padding-bottom: 7px;
    padding-top: 7px;
    border-color: #F3F3F3;
    text-shadow: 0 1px 0 #5A5A5A;
    font-weight: normal;
}


#home-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
}
#home-content .jumbotron > img {
    width: 100%;
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    background-size: cover;
}

.jumbotron .jumbo-header {
    color: inherit
}

.jumbotron a.ui-link {
    text-shadow: none;
    text-decoration: none;
    color: #47B2EE;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 0;
    line-height: 1.4;
}

.container .jumbotron {
    border-radius: 6px
}

.jumbotron .container {
    max-width: 100%}

.jumbotron .jumbo-header {
    font-size: 3em;
    margin-bottom: 15px;
    margin-top: 0.5em;
    line-height: 1;
    width: 70%;
}

@media screen and (min-width: 500px) {

    .jumbotron .jumbo-header {
        width:100%;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top:48px;
        padding-bottom: 48px
    }

    .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px
    }

    .jumbotron .jumbo-header {
        font-size:5em;
    }
    .jumbotron p {
        font-size:2em;
    }
}

.jumbotron > a.ui-link {
    text-decoration: none;
    text-shadow: none;
}

#home-content .jumbotron{
    height: 100%;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    padding: 0;
}



#home-content .jumbotron.multiple{
    min-height: 20em;
    position: relative;
    font-size: 0.8em;
    padding:2em 0;
}

@media (min-width:767px){
    #home-content .jumbotron.multiple{
        padding:10em 0;
    }
}

#home-content .jumbotron .container{
    background: rgba(255, 255, 255, 0.89);
    display: block;
    padding: 2em 10% 1em;
    color: #EEE;
    width: 80%;
    position: absolute;
    top: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.47) 0%, rgba(0,0,0,0.47) 42%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.47)), color-stop(42%,rgba(0,0,0,0.47)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0.47) 42%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0.47) 42%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0.47) 42%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.47) 0%,rgba(0,0,0,0.47) 42%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

@media screen and (min-width: 768px) {
    #home-content .jumbotron .container{
        bottom:0;
        top:auto;
        padding: 1em 10% 5em;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(26,26,26,0.8) 50%, rgba(51,51,51,0.8) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(26,26,26,0.8)), color-stop(100%,rgba(51,51,51,0.8))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(26,26,26,0.8) 50%,rgba(51,51,51,0.8) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(26,26,26,0.8) 50%,rgba(51,51,51,0.8) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(26,26,26,0.8) 50%,rgba(51,51,51,0.8) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(26,26,26,0.8) 50%,rgba(51,51,51,0.8) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc333333',GradientType=0 ); /* IE6-9 */
    }
}

.ui-popup .ui-listview>li{
   margin-bottom:0px;
   border:none;
   border-radius:0px;
}

.ui-popup .ui-listview>li a{
   border-radius:0px;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-right-width: 1px;
}

.jqm-header{
    border: 0px;
    z-index: 1;
}

.btn-map{
    position: absolute;
    top:0px;
    height: 100px;
    right: 0;
    width: 103px;
}

.ui-page-theme-a .btn-map .ui-btn{
    background-color: #DBB98E;
    border-top-color: transparent;
    border-top-right-radius: 15px;
    text-shadow: 0 1px 0 #AC5F17;
    line-height: 5.5em;
    border-left: 1px solid #C5A36F;
    top: -7px;
    padding: 0px;
    min-width: 103px;
    min-height: 103px;
}

.ui-page-theme-a .btn-map.map .ui-btn{
    background-color: transparent;
    border: 0px;
    width: 104px;
}

.ui-page-theme-a .btn-map .ui-btn:hover,
.ui-page-theme-a .btn-map .ui-btn:focus{
    background-color: #C7A57A;
}

.ui-page-theme-a .btn-map .ui-btn img {
    height: 100px;
    width: 100px;
    max-width: none;
}

.jqm-content > h2 {
    color: #3E5EB2;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DDD;
    font-size: 1.6em;
    padding-bottom: .2em;
    margin: 0 0 .7375em;
}

.ui-listview>li {
    border-left:3px solid #777;
    margin-bottom: 8px;
    border-bottom: 1px solid #DDD;
}

.ui-page-theme-a .ui-listview>li.ui-li-has-thumb>.ui-btn {
    background-color:#F6F6F6;
    background-color: rgba(255, 255, 255, 0.64);
    border-color: #EEE;
    padding-left: 5.5em;
    min-height: 3.2em;
}
.ui-page-theme-a .ui-listview>li>.ui-btn:hover,
.ui-page-theme-a .ui-listview>li>.ui-btn:focus{
    background-color:#F8F8F8;
}


.ui-page-theme-a .ui-listview>li>.ui-btn.ui-btn-active{
    background-color: #D8CFC2;
    color: #444;
    text-shadow: 0 1px 0 #E2E2E2;
    border-color:#CECECE;
}

.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
    height: 100%;
    max-width: 5em;
    max-height: 5em;
}

.ui-listview>li h1, .ui-listview>li h2, .ui-listview>li h3, .ui-listview>li h4, .ui-listview>li h5, .ui-listview>li h6{
    margin-left: 10px;
}

.tour-stop-detail .tour-title {
    display: block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    clear: none;
    padding: 0;
    margin: 6px 15px 5px;
    font-size: 1em;
    color: #555555;
    text-shadow: 0 1px 0 #DFDFDF;
}

.tour-stop-detail .ui-title{
    width: 66%;
    text-align: left;
    font-size: 1.1em;
    margin: 0 25px;
    padding-top: 0px;
    font-weight: bold;
    white-space: normal;
    padding-bottom: 7px;
    color: #444444;
    text-shadow: 0 1px 0 #E2E2E2;
}

div.tour-stop-detail {
    position: relative;
    top: -1px;
    float: left;
    width: 100%;
    background: #D8CFC2;
    overflow: hidden;
}
a.back-btn.ui-btn {
    margin-left: 15px;

}

.ui-page-theme-a a.back-btn.ui-btn {
    background: transparent;
    border: 1px solid #F3F3F3;
    border-width: 1px 1px 1px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: 20px;
    margin-right: 2px;
    padding: 0 7px 0 3px;
    position: relative;
    text-decoration: none;
    overflow: visible;
    text-shadow: 0 1px 0 #5E5E5E;
    font-weight: normal;
}

a.back-btn.ui-btn:before {
    background: transparent;
    border: solid #F3F3F3;
    border-width: 0 0 1px 1px;
    border-radius: 2px 0 2px 2px;
    content: '';
    display: block;
    height: 21px;
    left: -11px;
    position: absolute;
    top: 3px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 21px;
}

.jqm-header .ui-btn-right.ui-controlgroup .ui-btn.menu-btn:hover, 
.jqm-header .ui-btn-right.ui-controlgroup .ui-btn.menu-btn:focus {
    border-color: #91A1CA;
}

.tour-stop-detail a.back-btn.ui-btn {
    color: #666;
    text-shadow: none;
}

.tour-stop-detail a.back-btn.ui-btn:before {
    left: -11px;
}

a.back-btn.ui-btn span{
    position:relative;
    z-index:2;
}

a.back-btn.ui-btn:hover, a.back-btn.ui-btn:focus,
a.back-btn.ui-btn:hover:before, a.back-btn.ui-btn:focus:before{
    border-color: #A5A5A5;
    background: #E6E6E6;
}

.ui-page-theme-a .ui-btn.ui-btn-c {
    background-color: #99E9BC;
    border-color: #A6E2C8;
    text-shadow: 0 1px 0 #BEFFD6;
}

.ui-page-theme-a .ui-btn.ui-btn-c:hover,
.ui-page-theme-a .ui-btn.ui-btn-c:focus{
    background-color: #7BD1A1;
}

.ui-page-theme-a .ui-btn.ui-btn-c:active,
.ui-page-theme-a .ui-btn.ui-btn-c.ui-btn-active{
    color:#2FCE7B;
    text-shadow:none;
    background-color: #FFF
}

.ui-listview>li p {
    margin-left: 10px;
}

.ui-dialog div.ui-footer.ui-bar-inherit.ui-footer-fixed {
    opacity: 0;
}

a.ui-btn.ui-icon-delete.ui-btn-icon-notext.ui-corner-all {
    border-radius: 50%;
    padding: 0;
    width: 2em;
    height: 2em;
    background-color: #FFF;
}

.ui-dialog .ui-btn-left{
    display: none;
}

/*  Classes  on  outer  slideshow  wrapper:
    either  NONE  or  'fraction'  or  'fraction'  +  one  of  'fraction1'...'fraction10'.
        fraction  sets  box-sizing:  border-box,  so  that  padding  on  the  element  is  taken  out  ;
    either  NONE  or  'center'  or  'right'

*/

.m-carousel  {
    position:  relative;
    overflow:  hidden;
    -webkit-font-smoothing:  antialiased;  
    width: 100%;
}
    .m-carousel.m-left  {
        text-align:  left;  }
    .m-carousel.m-center  {
        text-align:  center;  }
    .m-carousel.m-fluid > .m-carousel-inner > *  {
        width: 99%;  
        min-width: 300px;
        text-align: center;
        position: relative;
}
    .m-carousel.m-fluid.m-center  >  .m-carousel-inner  >  *:first-child  {
        margin-left:  0%;  }
    .m-carousel.m-fluid-2  >  .m-carousel-inner  >  *  {
        width:  50%;  }
    .m-carousel.m-fluid-2.m-center  >  .m-carousel-inner  >  *:first-child  {
        margin-left:  25%;  }
    .m-carousel.m-fluid-3  >  .m-carousel-inner  >  *  {
        width:  33.333%;  }
    .m-carousel.m-fluid-3.m-center  >  .m-carousel-inner  >  *:first-child  {
        margin-left:  33.333%;  }
    .m-carousel.m-fluid-4  >  .m-carousel-inner  >  *  {
        width:  25%;  }
    .m-carousel.m-fluid-4.m-center  >  .m-carousel-inner  >  *:first-child  {
        margin-left:  37.5%;  }
    .m-carousel.m-fluid-5  >  .m-carousel-inner  >  *  {
        width:  20%;  }
    .m-carousel.m-fluid-5.m-center  >  .m-carousel-inner  >  *:first-child  {
        margin-left:  40%;  }
    .m-carousel.m-fluid-6  >  .m-carousel-inner  >  *  {
        width:  16.667%;  }
    .m-carousel.m-fluid-6.m-center  >  .m-carousel-inner  >  *:first-child  {
        margin-left:  41.667%;  }
    .m-carousel  img  {
        -ms-interpolation-mode:  bicubic;  }

.m-carousel-inner  {
    position:  relative;
    white-space:  nowrap;
    text-align:  left;
    /*  Removes  inline-block  gaps  due  to  whitespace  */
    font-size:  0;
    /*  Configure  animations  */
    -webkit-transition-property:  -webkit-transform;
    -moz-transition-property:  -moz-transform;
    -ms-transition-property:  -ms-transform;
    -o-transition-property:  -o-transform;
    transition-property:  transform;
    /*  iOS  like  slide  timings  */
    -webkit-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    -moz-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    -ms-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    -o-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    -webkit-transition-duration:  0.5s;
    -moz-transition-duration:  0.5s;
    -ms-transition-duration:  0.5s;
    -o-transition-duration:  0.5s;
    transition-duration:  0.5s;  }
    .m-carousel-inner  >  *  {
        display:  inline-block;
        vertical-align:  top;
        white-space:  normal;
        /*  We  must  reset  the  font-size  here  */
        font-size:  16px;  }
    .m-fluid  >  .m-carousel-inner  >  *  {
        box-sizing:  border-box;
        -ms-box-sizing:  border-box;
        -moz-box-sizing:  border-box;
        -o-box-sizing:  border-box;
        -webkit-box-sizing:  border-box;  }
    .m-center:not(.m-fluid)  >  .m-carousel-inner  {
        display:  inline-block;
        margin-right:  -20000px  !important;
        margin-left:  0  !important;  }
        .m-center:not(.m-fluid)  >  .m-carousel-inner  >  *  {
            position:  relative;
            left:  -20000px;  }
        .m-center:not(.m-fluid)  >  .m-carousel-inner  >  *:first-child  {
            float:  left;
            margin-right:  20000px;
            left:  0;  }
            .m-center:not(.m-fluid)  >  .m-carousel-inner  >  *:first-child:last-child  {
                margin-right:  0;  }
        .m-center:not(.m-fluid)  >  .m-carousel-inner  >  *:last-child  {
            margin-right:  -30000px;  }


/* 
  Carousel control base styling 
*/

.m-carousel-controls {
    padding-top: 10px;
    text-align: center;
    z-index: 10;
}

.m-carousel-controls a {
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: -moz-none;
    user-drag: none;
}


   
/* Carousel controls: Bulleted */
.m-carousel-bulleted a {
    line-height: 0;
    text-decoration: none;
    text-indent: -999px;
    overflow: hidden;
    display: inline-block;
    padding: 6px;
    width: 0;
    height: 0;
    margin: 0 3px;
    color: #333;
    background-color: rgba(255,255,255,0.3);
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;
    -moz-box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;
    box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    top: -9px;
    position: relative;
}
.m-carousel-bulleted a:hover, .m-carousel-bulleted a:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,0.6);
}
.m-carousel-bulleted a.m-active {
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
    box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
}



/* Carousel controls: Pagination */
.m-carousel-pagination {
    padding-top: 10px;
}
.m-carousel-pagination a {
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px;
    margin: 1px 0;
    color: #333;
    background-color: rgba(255,255,255,0.3);
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.m-carousel-pagination a:hover, .m-carousel-pagination a:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,0.6);
}
.m-carousel-pagination a.m-active {
    background-color: rgba(255,255,255,1);
}

/* Carousel controls: HUD */
.m-carousel-hud {
  padding-top: 0;
}
.m-carousel-hud a {
    z-index: 2;
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 0;
    padding: 0;
    text-decoration: none;
    text-indent: -999px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.m-carousel:hover .m-carousel-hud a {
    opacity: 0.3;
}
.m-carousel .m-carousel-hud a:hover, .m-carousel .m-carousel-hud a:focus {
    opacity: 1;
}
.m-carousel-hud a:after {
    color: rgba(255,255,255,0.85);
    content: "\25c0";
    font-size: 25px;
    font-weight: bold;
    text-indent: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 47px;
    height: 50px;
    z-index: 9;
}
.m-carousel-hud .m-carousel-prev {
    left: 10px;
}
.m-carousel-hud .m-carousel-next {
    right: 10px;
}
.m-carousel-hud .m-carousel-next:after {
    left: auto;
    right: 0;
    content: "\25b6";
}




/* extra bits */

/* captions */
.m-caption {
    margin: 0;
    padding: 10px;
    height: auto;
    text-align: center;
}





/* scaled slides */
.m-scaled .m-item {
    opacity: 0.7;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);

    /* Configure animations */
    /* (0.5s would match the transition length between each, 
      but fast swiping on a phone can result in odd timing. 
      Half-length durations for each transform is a reasonable 
      middle ground.) */
    -webkit-transition: -webkit-transform cubic-bezier(0.33, 0.66, 0.66, 1) 0.25s, opacity ease-out 0.25s;
    -moz-transition-timing-function: -moz-transform cubic-bezier(0.33, 0.66, 0.66, 1) 0.25s, opacity ease-out 0.25s;
    -o-transition-timing-function: -o-transform cubic-bezier(0.33, 0.66, 0.66, 1) 0.25s, opacity ease-out 0.25s;
    transition-timing-function: transform cubic-bezier(0.33, 0.66, 0.66, 1) 0.25s, opacity ease-out 0.25s;
}
.m-scaled .m-active {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* Default Themes/Sytles for Slider */

.m-fluid .m-item {
    margin-right: 0;
}

/* Fluid Width Photo Carousel
 * .m-carousel.m-fluid.m-carousel-photos
 */

.m-carousel-photos {
    margin: 0 -10px;
    padding: 0 10px;
}

.m-carousel-photos .m-item  > img {
    margin: 0;
    padding: 0;
    max-width: none;
    width: 100%;
    height: auto;

    -webkit-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    -o-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    -ms-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
}

.m-carousel-photos .m-caption {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    position: absolute;
    z-index: 9;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Inner Cards for Carousel */
.m-card-dark, .m-card-light {
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    -o-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    -ms-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
    box-shadow: rgba(0,0,0,0.5) 0 5px 10px;    
}
.m-card-dark {
    background: rgba(0,0,0,0.5);
    color: #FFF;
}
.m-card-light {
    background: rgba(255,255,255,0.9);
    color: #000;
}
.m-card-dark .m-caption, .m-card-light .m-caption {
    margin: 0;
    padding: 10px 0 0 0;
}

.m-fade-out {
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
}

.m-item {
    text-align: center;
    position:relative;
    display: inline-block;
    float: none;
    width:auto;
    vertical-align: middle;
    left:25px;
}

.m-item iframe{
    width:80%;
}

@media(min-width:460px){
    .m-item {
        left:0;
    }
}

.m-item a, .m-item iframe{
    height:100%;
    display: inline-block;
}

.m-item a{
    width:100%;
    margin-left:-10%;
}

.m-item iframe{
    max-width: 500px;
    margin: auto;
    border-radius: 2px;
    border: 5px solid #FFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    height: 95%;
    width: 75%;
    margin-left: -10%;
}

@media(min-width:500px){
    .m-item iframe,.m-item a{
        margin-left:0px;
    }
}

.m-carousel~div.ui-content {
    padding-top: 0;
}

.m-item a img{
    border: 1px solid #E4E4E4;
    padding: 5px;
    margin: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    max-height:200px;
    max-width: 250px;
}

a.slide-static.ui-btn {
    height: 1em;
    width: 1em;
    top: 0;
}

.sr-only{
    display: none;
}

.pull-right{
    right: 1em;
    position: absolute;
    width: 30%;
}

.pull-left{
    left: 1em;
    position: absolute;
    width: 30%;
}

p.caption {
    clear: both;
    display: block;
    text-align: center;
    margin: 29px auto;
    color: #999;
    font-size: 0.9em;
}
p.caption img {
    display: block;
    margin: 0 auto 10px;
}



.social-media.ui-controlgroup {
    width: 100%;
    display: block;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-top: 1px solid rgb(233, 233, 233);
    border-radius:0px;
    padding-top:1em;
    border-bottom: 1px solid #F6F6F6;
}

.social-media.ui-controlgroup .ui-controlgroup-controls {
    width: 120%;
}

.social-media.ui-controlgroup iframe, .social-media.ui-controlgroup .fb_iframe_widget {
    display: block;
    margin-top: -3px;
    display: inline-block;
    /* float: left; */
    margin-left: 10px;
    position: relative;
}

.social-media.ui-controlgroup div > iframe{
    margin-left:2em;
}

/***** EMORY LOGO ******/
.emorylogo {
    width: 100%;
    position: relative;
}
.emorylogo img {
    margin: auto;
    width: 150px;
    display: block;
    opacity: 0.8;
}

.jumbotron div.emorylogo {
    position: absolute;
    bottom: 1em;
}

@media (min-width:767px){
    .jumbotron div.emorylogo {
        position: absolute;
        top: 2em;
        height: 0;
    }
    .jumbotron div.emorylogo img{
        float:right;
        padding-right:2em;
    }
}


/********* GOOGLE MAP *******/

div#tabs {
    margin: -1.2em -1.2em;
}

.ui-content#map {
    padding: 1em 0;
}

#map .detail {
    padding: 1em;
    position: relative;
    z-index: 2;
    background: #F8F4ED;
    margin-top: -1em;
}

div#map_container {
    /* position: absolute!important; */
    top: 0;
    z-index: 1;
}
div.ui-navbar {
    position: relative;
    z-index: 2;
}

.loading {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    background-color: rgba(87, 84, 59, 0.46);
    z-index: 2;
    text-align: center;
    margin-top: 0em;
    height: 100%;
}

#map .detail:before,
.loading:before{
    content: '';
    background-image: url(../images/arches.png);
    position: absolute;
    width: 100%;
    height: 120%;
    display: block;
    top: 0;
    opacity: 0.5;
    left: 0;
}

#map .detail:before{
    opacity:0.2;
}

.loading .ui-loader {
    display: block;
    top: 30%;
    position: absolute;

}

td.adp-text {
    padding-left: 2em;
}
table.adp-directions {
    width: 100%;
}


div#tour-map {
    margin: -1em;
    /*position: absolute;*/
    width: 100%;
    top: -5px;
    height: 100%;
}

div.ui-footer.ui-bar-inherit.ui-footer-fixed {
    background-color: #EEEBE2;
}

.ui-page-theme-a div.ui-footer.ui-bar-inherit .ui-btn.ui-btn-active,
.ui-page-theme-a div.ui-footer.ui-bar-inherit .ui-btn.ui-btn-active:hover,
.ui-page-theme-a div.ui-footer.ui-bar-inherit .ui-btn.ui-btn-active:focus{
    background-color: #CFCFCF;
    color: #FAFAFA;
    text-shadow: 0 1px 0 #808080;
    border-color: #B9B9B9;
}

.ui-page-theme-a div.ui-footer.ui-bar-inherit .ui-btn{
    background-color:transparent;
}

.ui-page-theme-a div.ui-footer.ui-bar-inherit .ui-btn:hover, 
.ui-page-theme-a div.ui-footer.ui-bar-inherit .ui-btn:focus{
    background-color: #EFF4FF;
}

.ui-page-theme-a .ui-tabs .ui-tabs-nav .ui-btn.ui-btn-active {
    background-color: #4DC38A;
    border-color: #A2C2AC;
    box-shadow: none;
}

.btn-right.btn-map .ui-btn.btn-no-border{
    border-left: none;
}

.ui-listview>li h1, .ui-listview>li h2, .ui-listview>li h3, .ui-listview>li h4, .ui-listview>li h5, .ui-listview>li h6 {
    text-overflow: initial;
    overflow: visible;
    white-space: initial;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0.5em;
}   

div.popup.ui-header.ui-bar-inherit {
    background: #D8CFC2;
    padding-bottom: 5px;
}

.ui-dialog .jqm-content.ui-content.ui-body-a {
    background-color: rgb(235, 230, 230);
    padding-top: 0;
}

.ui-dialog .jqm-content h2{
    margin-bottom:6px;
    text-overflow:initial;
    overflow: auto;
    white-space: normal;
    margin: 0 15%;
}

div#video-detail iframe {
    width: 110%;
    margin: -5%;
    padding-top: 4em;
    padding-bottom: 3em;
    background: #D5D5D5;
}

div.video-container {
    position: relative;
    width: 100%;
    margin: auto;
}

/*****
    PLAY BUTTON
******/

.play_border {
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    /* -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5); */
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(187, 187, 187, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
    top: -8em;
    margin-bottom: -10em;
    background: rgba(0, 0, 0, 0.68);
}
.play_border:hover{
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_border:hover .play_button{
    border-left: 34px solid rgba(253, 253, 253, 1);
}
.play_border:active,.play_border:focus{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5.play_button:hoverpx 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_button {
    position:relative;
    top: 15px;
    left: 34%;
    width: 0;
    height: 0;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-left: 34px solid rgba(255, 255, 255, 0.8);
} 