    {% if tour.fb_app_id %}
    <div class="fb-like" data-href="http://{{ request.get_host }}{{ request.get_full_path }}" data-layout="button_count" data-width="450" data-show-faces="false" data-send="false"></div>
    <script>
	    $(document).bind('pageshow', function() {
		    try{
		        FB.XFBML.parse();
		    } catch(err){}
		});	
    </script>
    {% endif %}
    {% if tour.twitter_acct %}
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ tour.twitter_acct }}" data-text="{{ tour_stop.title }}" data-url="{{ request.build_absolute_uri }}">Tweet</a>
    <script>
	    $(document).bind('pagebeforeload', function(){
	    	$('#twitter-wjs').remove();
		});
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	    </script>

    {% endif %}
