<script type="text/javascript">
    // Don't allow JQM override the page title
    $(":jqmData(role='page')").attr("data-title", document.title);
</script>

<script type="text/javascript">
    /*
    * click on marker loads data per stop and changes color of marker.
    * get directions.
    */

     function addMarker(map, lat, lng, label, num_icon) {
        console.log('something happened here!');
        map.addMarker({
            position: new google.maps.LatLng(lat, lng),
            bounds: true,
            icon: num_icon,
            //zoom: 5,

        }).click(function() {
            // alert(get_native_map_link(lat, lng));
            window.location = get_native_map_link(lat, lng, label);
        });
     }

    function initializeMap() {
        var selectedMode = document.getElementById('mode').value || "DRIVING";
        /**
        * Initialize markers separately to slightly improve readability
        */

        $('.ui-page-active #map_container').width('100%').height('400px').gmap({
            //mapTypeId: google.maps.MapTypeId.TERRAIN,
            zoom: 12,
            center: new google.maps.LatLng({{tour_stop.lat}}, {{tour_stop.lng}}),
            callback: function(map) {
                var self = this;
                $('.loading').show();
                var maxZoom= 11;
                google.maps.event.addListener(map, 'zoom_changed', function(){ 
                   if(map.getZoom() < maxZoom){ 
                        map.setZoom(maxZoom); 
                    }
                }); 

                // Request the user's current location.
                self.getCurrentPosition(function(position, status) {
                    // Check to see if user allowed location to be known.
                    if ( status === 'OK' ) {
                        // Show the div for user to select directions mode.
                        $( "#select" ).show();
                        // State we are showing directions.
                        $("#directions_head").html('Directions');

                        var clientPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    }

                    // If the user didn't share his/her location:
                    else {
                        self.addMarker({position: new google.maps.LatLng({{tour_stop.lat}}, {{tour_stop.lng}})});
                        self.addMarker({position: new google.maps.LatLng({{tour_stop.park_lat}}, {{tour_stop.park_lng}}), icon: "{{ STATIC_URL }}markers/blue_MarkerP.png"});
            
                        // Use Google's geocoder to get the address base on the lat and lng.
                        var geocoder = new google.maps.Geocoder();
                        // Use the parking location if there is one
                        {% if tour_stop.park_lat and tour_stop.park_lng %}
                        var location = new google.maps.LatLng({{ tour_stop.park_lat }},{{ tour_stop.park_lng }});
                        {% else %}
                        var location = new google.maps.LatLng({{ tour_stop.lat }},{{ tour_stop.lng }});
                        {% endif %}

                        if (geocoder) {
                            geocoder.geocode({ 'latLng': location }, function (results, status) {
                                // Return the address if Google gives us one.
                                if (status == google.maps.GeocoderStatus.OK) {
                                    $('.location-warning').show();
                                $('.loading').fadeOut(500);
                                    $("#directions_head").html('Address');
                                    $("#directions").html(results[0].formatted_address);
                                }
                                // Otherwise, apologize to the user
                                else {
                                    $("#directions").html('Unable to determine address.');
                                }
                            });
                        }
                    }

                    // Direct the user to the parking area if the user is driving.
                    if ( selectedMode === 'DRIVING') {
                        // But first, make sure there is a parking location given.
                        {% if tour_stop.park_lat and tour_stop.park_lng %}
                        var destination = '{{tour_stop.park_lat}}, {{tour_stop.park_lng}}';
                        {% else %}
                        var destination = '{{tour_stop.lat}}, {{tour_stop.lng}}';
                        {% endif %}
                    }
                    // Otherwise, send the user to the actual site.
                    else {
                        var destination = '{{tour_stop.lat}}, {{tour_stop.lng}}';
                    }

                    // Show the turn-by-turn directions.
                    self.displayDirections({
                        'origin': clientPosition,
                        'destination': destination,
                        'travelMode': google.maps.DirectionsTravelMode[selectedMode] }, {
                            'panel': document.getElementById('directions') }, function(result, status) {
                            // If the user's location is known, give him/her the directions...
                            if ( status === 'OK' ) {
                                // alert('Results found!');
                                $('.loading').fadeOut(500);
                            }
                            // Otherwise just provide the user with the stop's markers and geocoded address.
                            else {
                                $('.location-warning').show();
                                $('.loading').fadeOut(500);
                                addMarker(self, {{tour_stop.lat}}, {{tour_stop.lng}}, "{{tour_stop.name}}", "{{ STATIC_URL }}markers/marker{{tour_stop.position}}.png")
                                {% if tour_stop.park_lat and tour_stop.park_lng %}
                                addMarker(this, {{tour_stop.park_lat}}, {{tour_stop.park_lng}}, "Parking: {{tour_stop.name}}", "{{ STATIC_URL }}markers/blue-parking.png")
                                {% endif %}
                            }
                        });
                });
            }
        });//end gmap
    }// end initializeMap()



   $("div:jqmData(role='page')").on('pageshow', function() {
      $(document).ready(function () {  
         $('#map_container').gmap('destroy');
         // Clear the turn-by-turn directions.
          $('#directions').empty();

        initializeMap();

        $(document).on('click','.refresh-btn .ui-btn',function(evt){
            evt.preventDefault();
            $("#directions").empty();
            $('#map_container').gmap('destroy');
            initializeMap();
        });

        $(document).on('change','#mode',function() {
        // Destroy the map
            $('#map_container').gmap('destroy');

            // Clear the turn-by-turn directions.
            $('#directions').empty();

            // Get the selected value
            var selectedMode = document.getElementById('mode').value;

            // Get Django's CSRF token using a jQuery cookie plugin.
            // This is provided from a hidden input filed and django's csrf_token
            // template tag.
            var csrftoken = $.cookie('csrftoken');

            // Make the ajax post to the tour.update_directionsmode view
            $.ajax({
                url: 'http://{{ request.get_host }}/tour/update_directionsmode/' + selectedMode + '/',
                type: 'post',
                headers: {
                'X-CSRFToken': csrftoken,
                },
                success: function (data) {}
            });
            // And redraw the map.
            initializeMap();
        });//end doc.ready

        $('.menu-btn').on('click',function(){
            var $this = $(this),
                offset = $this.offset(),
                offset_left = offset.left,
                $auxMenu = $(".ui-popup"),
                $popupContainer = $(".ui-popup-container");

            if($auxMenu.hasClass('ui-popup-active')){
                $popupContainer.addClass('ui-popup-hidden').removeClass('in').addClass('ui-popup-truncate').removeClass('ui-popup-active').css({'top':'0px','right':'0'});
            }
            else{
                $popupContainer.removeClass('ui-popup-hidden').addClass('in').removeClass('ui-popup-truncate').addClass('ui-popup-active').css({'top':'30px','right':'15px'});
            }
        });

        $('.ui-content').css('min-height',$(window).height());
        });
   });

</script>