{% extends "site_base.html" %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jqm.navtabs.js"></script>
{% endblock extrajs %}

{% block content %}
<div class="lead-media">
  <!--<img data-src="holder.js/100%x150/industrial" />-->
  <img src="{{ STATIC_URL }}images/BOfAtlantaTroupHurtHouse.jpg" />
</div>
<div data-role="navbar">
  <ul>
    <li><a href="#" class="ui-btn-active" data-href="description" data-theme="a">Description</a></li>
    <!--<li><a href="#" data-href="options" data-theme="a">Options</a></li>-->
  </ul>
</div>
<div class="tab-container">
  <div id="description" class="tab-content">
    <article>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </article>
  </div>
  <!--<div id="options" class="tab-content">
    <article>
      Options
    </article>
  </div>-->
  <div><a href="tour/battle-of-atlanta/1/">About Tour</a></div>
</div>
{% endblock content %}

{% block footer_class %}{% endblock footer_class %}

{% block footer %}
<div id="start_tour_btn" data-role="controlgroup">
  <a href="{% url tour:version 'battle-of-atlanta' 'full' %}" data-role="button" data-icon="arrow-r">Full</a>
  <a href="{% url tour:version 'battle-of-atlanta' 'brief' %}" data-role="button" data-icon="arrow-r">Brief</a>
</div>
{% endblock footer %}
