{% extends "site_base.html" %}

{% block extrajs %}
<script type="text/javascript">
  $(document).delegate('.ui-navbar ul li > a', 'click', function() {
    //un-highlight and highlight only the buttons in the same navbar widget
    $(this).closest('.ui-navbar').find('a').removeClass('ui-btn-active');

    //this bit is the same, you could chain it off of the last call by using two `.end()`s
    $(this).addClass('ui-btn-active');

    //this starts the same but then only selects the sibling `.content_div` elements to hide rather than all in the DOM
    $('#' + $(this).attr('data-href')).show().siblings('.tab-content').hide();

    return false;
  });
</script>
{% endblock extrajs %}

{% block content %}
<div class="lead-media">
  <img data-src="holder.js/100%x200/industrial" />
</div>
<div data-role="navbar">
  <ul>
    <li><a href="#" class="ui-btn-active" data-href="description" data-theme="a">Description</a></li>
    <li><a href="#" data-href="options" data-theme="a">Options</a></li>
  </ul>
</div>
<div class="tab-container">
  <div id="description" class="tab-content">
    <article>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </article>
  </div>
  <div id="options" class="tab-content">
    <article>
      Options
    </article>
  </div>
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}