{% load thumbnail %}
<div class="image-grid ui-grid-a">
  {% if images %}
    <h3>Images</h3>
    {% for ts_image in images %}
      <div class="image-well {% cycle 'ui-block-a' 'ui-block-b' %}">
        <a href="{% url tour:stop-media-detail tour_stop.tour.slug ts_image.id %}"><img src="{{ts_image.image|thumbnail:"125x0"}}" /></a>
      </div>
    {% endfor %}
  {% endif %}
  {% if audio %}
    <h3>Audio</h3>
    {% for ts_audio in audio %}
      <div class="image-well {% cycle 'ui-block-a' 'ui-block-b' %}">
        <a href="{% url tour:stop-media-detail tour_stop.tour.slug ts_audio.id %}">{{ts_audio.title.url}}</a>
      </div>
    {% endfor %}
  {% endif %}
</div>
    <h3>Video</h3>             
    {% include "tour/includes/video.html" %}
<div class="clearfix"></div>
