{% load thumbnail %}
<div class="image-grid ui-grid-a">
  {% if images %}
    <h3>Images</h3>
    {% for ts_image in images %}
      <div class="image-well {% cycle 'ui-block-a' 'ui-block-b' %}">
        <a href="{% url tour:stop-media-detail tour_stop.tour.slug ts_image.id %}"><img src="{{ts_image.image|thumbnail:"125x0"}}" /></a>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% if tour_stop.mp4 %}
    <h3>Video</h3>             
    {% include "tour/includes/video.html" %}
{% endif %}
<div class="clearfix"></div>
