{% load thumbnail %}
<div class="image-grid ui-grid-a">
  {% if images %}
    <h3>Images</h3>
    {% for ts_image in images %}
      <div class="image-well {% cycle 'ui-block-a' 'ui-block-b' %}">
        <a href="{% url tour:stop-media-detail tour_stop.tour.slug ts_image.id %}"><img src="{{ts_image.image|thumbnail:"125x0"}}" /></a>
      </div>
    {% endfor %}
  {% endif %}
  {% if audio %}
    <h3>Audio</h3>
    {% for ts_audio in audio %}
      <div class="image-well {% cycle 'ui-block-a' 'ui-block-b' %}">
        <a href="{% url tour:stop-media-detail tour_stop.tour.slug ts_audio.id %}">{{ts_audio.title.url}}</a>
      </div>
    {% endfor %}
  {% endif %}
</div>
  {% if tour_stop.mp4 and tour_stop.ogg %}
    <h3>Viedo</h3>             
    {% if tour_stop.poster %}
    <video width="290" height="190" poster="/battleofatlanta/media/{{ tour_stop.poster }}" controls>
    {% else %}
    <video width="290" height="190" poster="http://dev.emorydisc.org/battleofatlanta/static/images/BOfAtlantaTroupHurtHouse.jpg" controls>
    {% endif %}
        <source src="/battleofatlanta/media/{{ tour_stop.mp4 }}" type="video/mp4" />
        <source src="/battleofatlanta/media/{{ tour_stop.ogg }}" type="video/ogg" />
    </video>
  {% endif %}
<div class="clearfix"></div>
