RailsApiAuth.tap do |raa|
  raa.user_model_relation = :user

  raa.facebook_app_id       = '11111111111111111111'
  raa.facebook_app_secret   = '2222222222222222222222222222'
  raa.facebook_redirect_uri = 'http://localhost:4200/about'

  raa.google_client_id     = '3333333333333333333333333333333'
  raa.google_client_secret = '444444444444444444444444444444'
  raa.google_redirect_uri  = 'http://localhost:4200/about'

  # Edx configurations
  # Has to be included with empty strings
  # Seems like a bug but:
  # https://github.com/simplabs/rails_api_auth#configuration
  raa.edx_client_id     = '<your Edx client id>'
  raa.edx_client_secret = '<your Edx client secret>'
  raa.edx_domain        = '<your Edx app domain>'
  raa.edx_redirect_uri  = 'your Edx app redirect uri'
end
