body {
    max-width: 320px;
    max-height: 480px;
    height: 480px;
    border: 1px solid gray;
}

/* bootstrap navbar resets */
.navbar-inner {
    border-radius: 0;
}


/* custom tab control */
.tab-content {
    display:none;
}
.tab-content:first-child {
    display:block;
}

.tab-content article {
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
