DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '$db_database',
        'USER': '$db_user',
        'PASSWORD': '$db_password',
        'HOST': '$db_host',
        'PORT': '$db_port',
    }
}