<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=320,height=480,initial-scale=1.0">

  <title>Battle of Atlanta</title>

  <link href="{{ STATIC_URL }}css/jquery.mobile-1.2.0.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/structure.css" rel="stylesheet">
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile-1.2.0.min.js"></script>

  {# this is a development dependency and should be removed once images are here #}
  <script type="text/javascript" src="{{ STATIC_URL }}js/holder.js"></script>

</head>
<body style="position:relative;">
  <div {% block page_attributes %}{% endblock %} data-role="page">
    {% block page_scripts %}
    {% endblock page_scripts %}
    
    <div data-role="header" data-position="fixed">
    {% block header %}
      <h1>Battle of Atlanta</h1>
    {% endblock header %}
    </div>

    <div {% block content_attributes %}{% endblock %} data-role="content">
      {% block content %}
      {% endblock content %}
    </div>

    <div class="{% block footer_class %}{% endblock %}" data-role="footer" data-position="fixed">
      {% block footer %}
      {% endblock footer %}
    </div>
  </div>
</body>
</html>