<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello</title>
  <meta name="viewport" content="width=640px; initial-scale=1.0">

  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/structure.css" rel="stylesheet">

  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
</head>
<body>
  <div class="container">
    content
  </div>
</body>
</html>