{% extends "site_base.html" %}
{% load thumbnail %}

{% block header_class %}sr-only{% endblock %}
{% block header %}
    <h1>Battle of Atlanta</h1>
{% endblock header %}

 {% block content_attributes %}id="home-content"{% endblock %}
{% block content %}

    {% for tour in tours %}
        <div class="jumbotron {{tour.slug}} {% if tours|length > 1 %} multiple {% endif %}">
            
                {% if tour.splashimage %}
                    <style>
                        .{{tour.slug}}{
                            background-image: url({{ tour.splashimage|thumbnail:"767x0" }});
                        }
                        @media(min-width:767px){
                            .{{tour.slug}}{
                                background-image: url({{ tour.splashimage|thumbnail:"993x0" }});
                                background-position: center 70%;
                            }
                        }
                        @media(min-width:993px){
                            .{{tour.slug}}{
                                background-image: url({{ tour.splashimage|thumbnail:"1400x0" }});
                            }
                        }
                    </style>
                {% endif %}
                <div class="container">
                    <h2 class="jumbo-header">{{ tour.name }}</h2>
                    {{ tour.description|safe }}
                    <a class="ui-btn ui-icon-carat-r ui-btn-icon-right ui-nodisc-icon ui-alt-icon ui-btn-c" href="{% url 'tour:detail' tour.slug %}" data-transition="slide">
                        Start Tour
                    </a>
                </div>
            {% include "tour/includes/liblogo-white.html" %}
        </div>
    {% endfor %}

{% endblock content %}


{% block footer %}

{% endblock footer %}
