{% extends "site_base.html" %}
{% load thumbnail %}

{% block header %}
    <h1>Tours</h1>
{% endblock header %}

{% block content %}

    <ul data-role="listview" data-inset="true" data-shadow="false" data-corners="false">
        {% for tour in tours %}
            <li>
                <a href="{% url 'tour:detail' tour.slug %}" data-transition="slide">
                    {% if tour.splashimage %}
                        <img src="{{ tour.splashimage|thumbnail:"290x190" }}" alt="Default image for {{ tour.name }}"/>
                    {% endif %}
                    <h2>{{ tour.name }}</h2>
                    {{ tour.description|safe }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}


{% block footer %}

{% endblock footer %}
